extends ./layout/index.pug

block content
  main.contenidoPrincipal
    .titulo
      h1.tituloConsola NINTENDO
    section.seccionJuegos
      each juego in juegos
        .juegos
          .card(style='width: 400px;')
            img.cardIMG(src=`/img/juegos/${juego.image_src}` width='398px' alt='shopGame')
            .card-body
              h5= juego.title 
              p.card-text= juego.description
              p Precio: $#{juego.price}
              p En inventario: #{juego.stock} unidades
              p Plataforma: #{juego.plataforma}
              center
                form(method="POST" action="/agregar")
                  input(type="hidden" name="_csrf" value=csrf)
                  input(type="hidden" name="game_id" value=juego.game_id)
                  input(type="hidden", name="platform" value=juego.game_platform)
                  button.botonCard(type="submit") Agregar al carrito
