extends ./layout/index.pug

block content
  main.contenidoPrincipal
    .titulo
      h1.tituloConsola NINTENDO
    section.seccionJuegos
      each juego in juegos
        .juegos
          .card(style='width: 400px;')
            img.cardIMG(src=`/img/juegos/${juego.image_src}` width='398px' alt='shopGame')
            .card-body
              h5= juego.title 
              p.card-text= juego.description
              p= juego.image_src
              center
                button.botonCard(data-id=juego.game_id) Agregar al carrito
