extends layout/index

block content
  section.product-list
    each product in products
      article.product
        img(src=product.image_url, alt=product.name)
        h2= product.name
        p= product.description
        span.price= "$" + product.price
